@charset "UTF-8";

:root {
    --cor1: #1a3151;
    --cor2: #f4a51d;
    --cor3: #ffdb9e;
    --cor4: #ffa303;
    --cor5: #347de39f;
}

* {
    padding: 0px;
    margin: 0px;
}

body,hmtl {
    overflow-x: hidden;
    background-color: var(--cor5);
}
.verde{
    color: #094;
}
.verm{
    color: red
}
.laranja{
    color: orange;
}

header {
    min-width: 100%;
    height: 10vh;
    background-color: var(--cor2);
    display: flex;
}
header a:visited{
    color:  black;
}

div#logo {
    flex: 1;

}

#logo-site {
    width: 15vw;
    margin-left: 20px;
}

div#user {
    flex: 1;
    text-align: right;
}

div#user > span {
    width: 100px;
    height: 100px;
    font-size: 1.4em;
}

div#search-bar {
    flex: 1;
}

div#search-bar > span {
    display: block;
    background-color: white;
    width: 100%;
    height: 40%;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
}

div#search-bar > span > a {
    font-size: 1.3em;
}

i {
    background-color: #1a3151; 
    min-width: 100%;
    text-align: center;
    padding-bottom: 4px;
    cursor: pointer;
    background-color: var(--cor1);
}

nav {
    background-color: #1a3151;
    padding-bottom: 4px;
}

nav ul {
    text-align: center;
    }

nav li {
    margin-bottom: 5px;
    padding: 0px 10px;
}

nav a{
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    margin: 5px
}

h2 {
    text-align: center;
    margin: 5px;
    margin-top: 20px;
}

div.tabela {
    width: 100vw;
    overflow-x: auto;
    text-align: center;
    margin: 5px;
}

table {
    border-collapse: collapse;
    white-space: nowrap;
    background-color: white;
}

thead {
    background-color: var(--cor4);
    border: 1px solid black;
}

th {
    padding: 10px
}

td {
    border: 1px solid black;
    text-align: center;
    padding: 0 5px;
    white-space: nowrap;
    
}
td a{
    color:black;
}
td a:visited{
    color:black;
}

td.time {
    text-align: left;
}

td img {
    height: 20px;
}

span.pc-nome {
    display: none;
}
@media screen and (min-width:768px){
    i#burguer {
        display: none;
    }
     nav {
        padding: 10px;
        background-color: var(--cor1)
    }

    nav > ul {
        text-align: center;
    }
     nav > ul > li {
        display: inline-block;
     }
      h1 {
        text-align: center;
        margin-top: 20px;
    }
    
    table {
        border-collapse: collapse;
        margin: auto;
    }
    
    td.time {
        text-align: left;
        min-width: 69px;
    }

    td img{
            height: 20px;
        }
    span.pc-nome {

        display:inline;
    }
    
    span.mob-nome {
        display: none;
    }
}