@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body,hmtl {
    overflow-x: hidden;
    
}

header {
    min-width: 100%;
    height: 10vh;
   
}

i {
    background-color: #1a3151; 
    min-width: 100%;
    text-align: center;
    padding-bottom: 4px;
    cursor: pointer;
}

nav {
   background-color: #1a3151;
    padding-bottom: 4px;
}

nav ul {
    text-align: center;
    }

nav li {
    margin-bottom: 5px;
}

nav a{
    color: white;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: black;
}

aside#calendario {
   
    display: flex;
    position: center;
    width: 100vw;
    overflow-x: auto;
}

aside#calendario > h1 {
    display: none;
}
aside#calendario > table {
    background-color: lightgray;

}

article {
    
    margin: 10px
}

div.noticia {
    text-align: center;
    ;
    padding-top: 12px;
    margin: 5px 0px;
}

img.image-not {
    width: 95%;
    height: 95%;
}

h1 {
    padding: 10px;
}

img.logo-not {
    width: 15%;
    padding-top: 10px;
}

p {
    display: none;
}

aside#classificação {
    margin: 10px;
    text-align: center;
}

aside#classificação > h1 {
    font-size: 1.5em;
}

aside#classificação > table {
    display: inline-block;
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

aside#classificação th {
    font-size: 1.3em;
}
aside#classificação td  {
    text-align: left;
    border: 1px solid black;
    font-size: 1.2em;
    width: 48vmin;
    padding: 1%;
}

footer {
   
    text-align: center;
}

@media screen and (min-width: 768px){
    body {
       background-color: rgba(255, 255, 255, 0.616);
    }

    i#burguer {
        display: none;
    }

    nav {
        padding: 10px;
    }
    nav > ul {
        text-align: center;
    }

    nav > ul > li {
        display: inline-block;
    }

    aside#calendario {
        position: absolute;
        display: block;

    }

    article {
        width: 60vw;
    }
}