@charset "UTF-8";

body {
    text-align: center;
}

a{
    text-decoration: none;
    color: black;   
}
ul{
    font-size: 20px;
    font-weight: bold;
    padding-left: 0px;
}
li{
    font-weight: bold;
    font-size: 20px;
    list-style: none;
    text-align:left;
}
img{
    width: 40px;
    height: 40px;
}

div {
    display: inline-block;
    padding-right: 0px;
}


#Quebra {
    display: block;
}

