@charset "UTF-8";
 a{
    text-decoration: none;
    color: black;   
}
ul{
    font-size: 20px;
    font-weight: bold

}
li{
    font-weight: bold;
    font-size: 20px;
    list-style: none;
}
img{
    width: 40px;
    height: 40px;
}
div {
    display: inline-block;
}

#ATL {
    float: left;
}

#PAC {
    float: center;
}

#CEN {
    float: right;
}