@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}
/*
body {
    background-color: rgb(230, 230, 230);
}

nav {
    background-color: rgb(26, 49, 81);
    text-align: center;
    padding-top:5px;
    width: 80%;
    height: 30px;
    margin: auto;
}

nav > a {
    color: rgb(249, 242, 242);
    font-size: 130%;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    text-align: center;
}

ol {
    text-decoration: none;
}
*/
header {
    width: 100vw;
    height: 10vh;
    background-color: blue;
}

nav {
    
}
